{% extends "base.html" %}

{% block main %}
<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add New Loan</h5>
            <form action="/add-loan" method="post" class="row g-3">
              <div class="col-12">
                <label for="inputNanme4" class="form-label">Loan Name</label>
                <input name="loan_name" type="text" class="form-control" id="loan-name" required>
              </div>
              <div class="col-12">
                <label for="inputNanme4" class="form-label">Loan Amount</label>
                <input name="loan_amount" type="number" class="form-control" id="loan-amount" step="0.1" required>
              </div>
              <div class="col-12">
                <label for="inputNanme4" class="form-label">Interest Rate</label>
                <input name="interest_rate" type="number" class="form-control" id="interest-rate" step="0.1" required>
              </div>
              <div class="col-12">
                <label for="inputNanme4" class="form-label">Repayment Period (in months)</label>
                <input name="repayment_period" type="number" class="form-control" id="repayment-period" required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endblock %}