{% extends "base.html" %}

{% block main %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        {% if user.user_type.as_str() == "LENDER" %}
        <div class="row mb-3">
          <div class="col-6">
            <a class="btn btn-primary" href="/add-loan">Add Loan</a>
          </div>
        </div>
        {% endif %}
        <div class="row">
          {% for loan in loans %}
          {% if user.user_type.as_str() == "BORROWER" && loan.loan.amount_deposited == Some(false) %}
          {% else %}
          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-4">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  {{ loan.loan.loan_name }} <span>| By {{ loan.lender.first_name }} {{ loan.lender.last_name }}</span>
                </h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{loan.loan.loan_amount}}</h6>
                    <span class="text-success small pt-1 fw-bold">{{ loan.loan.interest_rate }}%</span>
                    <span class="text-muted small pt-2 ps-1">interest</span>
                    <br>
                    <span class="text-primary small pt-1 fw-bold">{{ loan.loan.repayment_period }}</span>
                    <span class="text-muted small pt-2 ps-1">months</span>
                    <br>
                    {% if user.user_type.as_str() == "LENDER" %}
                    {% if loan.loan.amount_deposited == Some(true) %}
                    <span class="text-success small pt-1 fw-bold">ACTIVE</span>
                    {% else %}
                    <span class="text-danger small pt-1 fw-bold">INACTIVE</span>
                    {% endif %}
                    {% endif %}
                  </div>
                </div>
                {% if user.user_type.as_str() == "BORROWER" %}
                <div class="d-flex align-items-center mt-3">
                  <a class="btn btn-primary" href="/apply-loan/{{loan.loan.id}}">Apply Loan</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <!-- End Revenue Card -->
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- End Left side columns -->

    <!-- Right side columns -->
    </div>
    <!-- End Right side columns -->
    </div>
  </section>
</main>
<!-- End #main -->
{% endblock %}