{% extends "base.html" %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Lended Loans</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">
                                    Lended Loans
                                </h5>

                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Borrower</th>
                                            <th scope="col">Loan Name</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date Taken</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for lended_loan in lended_loans %}
                                        <tr>
                                            <th scope="row"><a href="#">#{{ lended_loan.loan_application.id}}</a></th>
                                            <td>{{lended_loan.borrower.first_name}} {{ lended_loan.borrower.last_name}}</td>
                                            <td>
                                                <a href="#" class="text-primary">{{ lended_loan.loan.loan_name }}</a>
                                            </td>
                                            <td>{{ lended_loan.loan.loan_amount }}</td>
                                            <td>
                                                <span class="badge bg-primary">Not Paid</span>
                                            </td>
                                            <td> {{ lended_loan.loan_application.created_at}} </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End Recent Sales -->
                </div>
            </div>
        </div>
        <!-- End Left side columns -->

        <!-- Right side columns -->
        </div>
        <!-- End Right side columns -->
        </div>
    </section>
</main>
<!-- End #main -->
{% endblock %}