{% extends "base.html" %}

{% block main %}
<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Please check your phone {{customerPhone}} for Mpesa pop up</h5>
                        <hr>
                        <a class="btn btn-success" href="">I have paid</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}